<div class="main" fxFlex fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title>
            <h1>auth-access-services</h1>
            <h3>Maurício Cordeiro</h3>
            <mat-divider></mat-divider>
            <br>
        </mat-card-title>
        <mat-card-content>
            <p>Sistema de autenticação baseado em microssesviços</p>
            <ul>
                <li><strong>crud:</strong> CRUD de usuários</li>
                <li><strong>auth:</strong> <i>Login</i> e <i>Logout</i> </li>
                <li><strong>log:</strong> Registro de ações</li>
                <li><strong>front:</strong> <i>Frontend</i> do sistema</li>
            </ul>
            <p>Para instruções, acesse  
                <a href="https://github.com/mauriciocordeiro/auth-access-services">
                    github.com/mauriciocordeiro/auth-access-services
                </a>
            </p>
        </mat-card-content>
    </mat-card>
</div>